* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  line-height: 1.4;
  font-family: Roboto-regular, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 2;
  text-align: center;
}
