.label-selector {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.label-selector h4 {
  margin-bottom: var(--spacing-small);
  font-size: 1rem;
  color: var(--primary-color);
}

.label-item {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.label-item input {
  cursor: pointer;
}

.label-item label {
  font-size: 0.9rem;
  cursor: pointer;
}
